.card {
    border-radius: 1rem;
    background-color: #f9f9f9;
  }
  
  .list-group-item {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: background-color 0.2s;
  }
  
  .list-group-item:hover {
    background-color: #f0f0f0;
  }
  